/* 添加到现有的 CSS 中 */
#musicToggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#musicToggle:hover {
    background-color: #e0e0e0;
}

/* 其他样式保持不变 */

h1 {
    color: #8B4513; /* 褐色 */
    text-shadow: 2px 2px 4px rgba(255,255,255,0.5); /* 白色阴影,使文字在背景上更清晰 */
    margin-bottom: 20px;
    font-size: 2.5em; /* 增大字体大小 */
    font-weight: bold;
    text-align: center;
    width: 100%; /* 确保标题占据整个宽度 */
    position: absolute; /* 使用绝对定位 */
    top: 20px; /* 距离顶部的距离 */
    left: 0; /* 左对齐 */
    right: 0; /* 右对齐 */
    margin-left: auto; /* 水平居中 */
    margin-right: auto; /* 水平居中 */
}

/* 其他样式保持不变 */

.background-container {
    background-image: url('images/mail.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
